doctype html
html
  block vars
    - var router = 'default'
    
  head
    title= title
    link(rel="stylesheet", href="/stylesheets/website.css")

  body(data-appular-router="#{router}")

    block content

    script(src=config.requirejs.src, data-main=config.requirejs.main)
