// Variables -------------------------------------


// Mixins --------------------------------------


// Placeholders --------------------------------------


// Styles --------------------------------------
.ui-module {
  display: block;
  padding: 1em;
  margin: .5em;
  border: 1px solid $color-gray-lighterest;
  border-radius: .15em;
}